* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}


h3 {
    font-weight: 100;
}


/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
  }

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(20, 120, 50);
    color: white;
}

.brand-title,
.brand-tagline {
    margin: 0;
    margin-bottom:1.5em;
    padding-bottom:0.5em;
}
.brand-title {
    text-transform: uppercase;
  font-size:170%;
  line-height:1.2em;
  font-weight:bold;
  margin-top:-4em;
}
.brand-tagline {
  color: white;
  padding-bottom:1.5em;
  font-style:italic;
  margin-top:-1em;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 1.5em;
  font-weight: bold;
    color: #222;
    margin-bottom: 0.5em;
  margin-top:0.5em;
  text-decoration:underline;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.form1 label{
  padding-bottom:0.5em;
}
.form1 {
  margin-top:2em;
}

.form2 {
  display:none;
}

p{
  width:80%;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

}

@media (max-width: 1390px) {
  .form1 {
    margin-left:-2.5em;
  }
}
  @media (max-width: 1200px) {
  .form1 {
    margin-left:-5em;
  }
  }
  @media (max-width: 1076px) {
  .form1 {
    margin-left:-6em;
    }
    input{
    width:12em;
    margin-right:0.5em;
  }
    .brand-title {
      text-align:left;
      font-size:150%;
      margin-bottom:2em;
     }
    .brand-tagline {
      text-align:left;
    }
}

@media (max-width: 960px) {
  .form1 {
    display:none;
  }
  .brand-title {
    font-size:130%;
    margin-bottom:4em;
    text-align:left;
     }
  .brand-tagline {
    text-align:left;
    font-size:110%;
   }
  .nav-item {
    display:block;
    text-align:left;
  }
  .form2{
    display:block;
    margin-top:3em;
  }
 }

@media (max-width: 760px) {
  .brand-title {
    font-size:170%;
    margin-top:1em;
    text-align:center;
    margin-bottom:0em;
    padding:0em;
     }
  .brand-tagline {
    text-align:center;
    font-size:150%;
    margin-top:0.5em;
    margin-bottom:0em;
    padding:0.5em;
   }
   .nav-item {
    display:inline;
    text-align:center;
  }
  br {
    display:none;
  }
  }
